<ul>
    {% if backups|length > 0 %}
    <li class="title"><strong>Deployed Packages and Backups</strong></li>
    {% endif %}
    {% for bc in backups %}
    <li>
        <ul>
        {% if bc.backup != null%}
            <li class="f">
                <div class="c"><span class="title">Backedup :</span><a class="file" href="/wp-content/uploads/backup/{{siteid}}/{{ bc.backup }}">{{ bc.backup }}</a> 
                <a data-filename="{{ bc.backup }}" class="detail">Detial</a>
                {# <a data-filename="{{ bc.backup|replace({"_backedup.zip":""}) }}" class="revert">Revert</a> #}
                <ul class="detail"></ul>
                </div>
            </li>
        {% endif %}
        {% if bc.deploy != null%}
        <li class="f">
            <div class="c">
                <span class="title">Deployed :</span><a class="file" href="/wp-content/uploads/backup/{{siteid}}/{{ bc.deploy }}">{{ bc.deploy }}</a> <a data-filename="{{ bc.deploy }}" class="detail">Detial</a>
                <ul class="detail"></ul>
            </div>
        </li>
        {% endif %}
        </ul>
        <br />
    </li>        
    {% endfor %}
</ul>