<ul>
    {% if backups|length > 0 %}
    <li><strong>Deployed Packages and Backups</strong></li>
    {% endif %}
    {% for bc in backups %}
    <li>
        {% if bc.backup != null%}
            <div><span class="title">Backup :</span><a class="file" href="/wp-content/uploads/backup/1/{{ bc.backup }}">{{ bc.backup }}</a> 
            <a data-filename="{{ bc.backup }}" class="detail">Detial</a>
            <a data-filename="{{ bc.backup }}" class="revert">Revert</a>
            <ul class="detail"></ul>
        </div>
        {% endif %}
        {% if bc.package != null%}
        <div>
            <span class="title">Package :</span><a class="file" href="/wp-content/uploads/backup/1/{{ bc.package }}">{{ bc.package }}</a> <a data-filename="{{ bc.package }}" class="detail">Detial</a>
            <ul class="detail"></ul>
        </div>
    </li>
        {% endif %}
    {% endfor %}
</ul>